body {
    background-image: url("../images/background.jpeg");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    background-attachment: fixed;
    opacity: 90%;
    animation: fadeUp 0.8s ease-in;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 25px;
    border-radius: 10px;
}

.logo {
    font-size: 50px;
}

.logo:hover {
    transform: scale(1.02);
    filter: drop-shadow(0 0 6px rgb(255, 255, 255));
}

nav {
    word-spacing: 50px;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    text-decoration: underline;
    filter: drop-shadow(0 0 6px rgb(255, 255, 255));
}

.main {
    background-color: white;
    width: 90%;
    margin: 40px auto; 
    margin-top: 1;
}

h1 {
    color: rgb(118, 3, 118);
    text-align: center;
    padding-top: 25px;
}

h2 {
    color: rgb(118, 3, 118);;
}

.line {
    display: flex;
    gap: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#item {
    background-color: rgb(227, 225, 225);
    border-radius: 10px;
    border: 2px solid;
    border-color: purple;
    margin: 10px;
}

img {
    height: 230px;
    width: 300px;
    display: block;
    margin: 0 auto;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

#pitem {
    background-color: rgba(118, 3, 118, 0.446);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    margin-left: 83.5px;
    margin-right: 83.5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding-left: 1rem;
    height: 0;
    font-size: 25px;
    border-radius: 10px;
    height: 300px;
    font-size: 25px;
}

.footerright img {
    height: 350px;
    width: 300px;
    float: right;
    align-items: center;
}

.footerleft {
    margin-top: 1px;
}

#allr {
    padding-top: 30px;
    margin-bottom: 18px;
}

.Email {
    text-decoration: none; 
    color: white;            
}


.footerright img:hover {
    transform: scale(1.02);
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}