@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bogle&family=BBH+Sans+Hegarty&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    animation: fadeUp 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1, nav p, footer {
    font-family: "Zalando Sans"
}

h2, p {
    font-family: "Inter";
}

header h1 {
    text-align: center;
    margin: 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 15px;
    background-color: brown;
    border-radius: 2px;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
}

nav p {
    justify-content: space-evenly;
    font-size: 20px;
}

.imgcontainer {
    margin: 15px;
    overflow: hidden;
}

img {
    width: 100%;
    height: auto;
}

.intro {
    text-align: center;
    align-items: center;
}

.intro p {
    margin: 10px;
}

footer {
    margin: 15px;
    text-align: center;
    background-color: brown;
    border-radius: 2px;
    align-items: center;
    padding: 9px;
}

@media (min-width: 905px) {
    .grid-container {
        display: flex;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        text-align: center;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .imgcontainer {
        width: 100%;
        height: auto;
    }
}