.container_12 {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
}

header {
    margin-top: 0;
    padding-top: 10px;
    background-color: rgb(40, 142, 81);
    text-align: center;
    color: rgb(250, 250, 250);
    border-radius: 10px;
    font-size: 2.8rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  margin: 20px;
  font-size: 4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    text-align: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
  margin-bottom: 5px;
}

body {
    background-color: rgb(182, 182, 182);
}

figure img {
  height: 28vw;
}

#capfigc, #capfigh, #capfigj, #capfigi {
  font-size: 2.6rem;
}

footer {
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(40, 142, 81);
    padding: 1px 1px 1px 1px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#coast, #highlands, #jungle, #international, figure, figcaption {
    text-align: center;
    align-items: center;
}

#titlec {
  background-color: rgb(200, 223, 243);
  border-radius: 10px;
  padding: 10px;
  width: 96%;
}

#titleh {
  background-color: rgb(223, 194, 169);
  border-radius: 10px;
  padding: 10px;
  width: 96%;
}

#titlej {
  background-color: rgb(212, 247, 212);
  border-radius: 10px;
  padding: 10px;
  width: 96%;
}

#titlei {
  background-color: rgb(248, 250, 226);
  border-radius: 10px;
  padding: 10px;
  width: 96%;
}

#coasta {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#highlandsa {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#junglea {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

#internationala {
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

figure {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

figcaption {
  width: 85%;
  background-color: rgb(200, 223, 243);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.6rem;
}

#capfigc {
  width: 85%;
  background-color: rgb(200, 223, 243);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

#capfigh {
  width: 85%;
  background-color: rgb(223, 194, 169);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

#capfigj {
  width: 85%;
  background-color: rgb(212, 247, 212);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

#capfigi {
  width: 85%;
  background-color: rgb(248, 250, 226);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0.6rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
}

img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
}
#internationala:hover, #coasta:hover, #highlandsa:hover, #junglea:hover {
  transform: scale(1.2);
}

#titlec:hover, #titleh:hover, #titlej:hover, #titlei:hover, figure:hover, nav:hover, footer:hover, header:hover {
  transform: scale(1.02);
}

nav {
    align-items: center;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

nav a {
    color: rgb(249, 241, 241);
    margin-right: 15px;
    margin-left: 15px;
    font-size:24px;
}

@media screen and (max-width: 768px) {
  header h1 {
      font-size: 2em;
  }

  nav a {
      display: block;
      margin: 10px 0;
      font-size: 5rem;
      padding-bottom: 5px;
      line-height: 3rem;
  }

  body {
    padding-right: 50px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  main {
      padding: 0 10px;
  }
  
  h3 {
    font-size: 3em;
    margin-bottom: 5px;
  }

  figure img {
    height: 100vw;
  }

  #capfigc, #capfigh, #capfigj, #capfigi {
    font-size: 2.8rem;
  }

  section h2{
      font-size: 3.4em;
  }

  footer {
      font-size: 1.4em;
  }

  nav a {
    font-size: 0.9em;
    margin-bottom: 5px;
  }
}