.container_12 {
    background-color: rgb(240, 240, 240);
    padding: 20px;
    border-radius: 10px;
}

header {
    background-color: rgb(40, 142, 81);
    text-align: center;
    color: rgb(250, 250, 250);
    border-radius: 10px;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h1 {
  font-size: 4rem;
}

body {
    background-color: rgb(182, 182, 182);
    animation: fadeUp 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

img:hover, nav:hover{
  transform: scale(1.2);
}

#slogan:hover, header:hover, footer:hover {
  transform: scale(1.02);
}

footer {
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 1rem;
    background-color: rgb(40, 142, 81);
    padding: 1px 1px 1px 1px;
    margin-top: 25px;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

#description {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.5em;
    line-height: 2rem;
}

#img {
    text-align: center;
    padding-bottom: 30px;
    max-width: 100%;
    height: auto
}

#slogan {
    background-color: rgb(40, 142, 81);
    color: rgb(250, 250, 250);;
    border-radius: 10px;
    text-align: center;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

nav a {
    color: rgb(249, 241, 241);
    margin-right: 15px;
    margin-left: 15px;
    font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  body {
    padding: 0 15px;
  }

  header {
    margin-top: 15px;
  }

  .container_12 {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  .grid_12 {
    float: none;
  }

  nav a {
    display: block;
    font-size: 2.5rem;
    line-height: 3.5rem;
  }

  img {
    height: auto;
  }

  h1 {
    font-size: 4.7rem;
    text-align: center;
  }

  #description p,
  #slogan p,
  footer p {
    font-size: 1em;
    text-align: center;
  }

  #description p {
    font-size: 2rem;
    line-height: 2.8rem;
  }

  footer {
    margin-bottom: 15px;
    font-size: 1.4em;
  }
}