body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: black;
    color: rgb(254, 234, 202);
    animation: fadeUp 0.8s ease-in;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    text-align: center;
    padding: 3rem 1rem;
    padding-bottom: 0;
    animation: flicker 1.5s infinite ease-in-out;
}

h1 {
    font-size: 3rem;
}

main {
    max-width: 1000px;
    margin: 3rem auto;
    padding: 2rem;
    padding-bottom: 0;
}

section.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

div.jolly {
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(254, 234, 202);
    border-radius: 12px;
    width: 250px;
    height: 275px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 15px rgb(250, 232, 204);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

div.jolly:hover {
    box-shadow: 0 0 40px 10px rgb(232, 216, 191);
    transform: scale(1.1) rotate(2deg);
}

.jolly img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

div.fruit {
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(254, 234, 202);
    border-radius: 12px;
    width: 250px;
    height: 275px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 15px rgb(250, 232, 204);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

div.fruit:hover {
    box-shadow: 0 0 40px 10px rgb(232, 216, 191);
    transform: scale(1.1);
}

.fruit img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
    animation: floaty 4s ease-in-out infinite;
}

div.yonkou {
    background-color: rgb(12, 12, 12);
    border: 2px solid rgb(254, 234, 202);
    border-radius: 12px;
    width: 250px;
    height: 275px;
    text-align: center;
    padding: 1rem;
    box-shadow: 0 0 15px rgb(250, 232, 204);
    transition: transform 0.4s ease, box-shadow 0.4s ease, background-color 0.4s ease;
}

div.yonkou:hover {
    box-shadow: 0 0 40px 10px rgb(232, 216, 191);
    transform: scale(1.1) rotate(-2deg);
}

.yonkou img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
}

section.more {
    text-align: center;
    margin-top: 3rem;
}

.btn {
    background-color: rgb(254, 234, 202);
    color: black;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 1rem 2rem;
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 0 0 15px rgb(250, 232, 204);
    transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
    box-shadow: 0 0 40px rgb(232, 216, 191);
    transform: scale(1.1);
}

footer {
    text-align: center;
}

@keyframes flicker {
    0% {
        opacity: 1;
        color: rgb(250, 226, 187);
        text-shadow: 0 0 10px white;
    }
    25% {
        opacity: 0.7;
        color: rgb(246, 218, 172);
        text-shadow: 0 0 5px lightgray;
    }
}

@keyframes floaty {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}