body {
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f4f4f4;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    animation: fadeUp 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

header {
    margin: 2rem;
    justify-content: center;
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    max-width: 500px;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 6px;
}

.card p {
    margin: 1rem;
    font-size: 17px;
}

.card a {
    display: inline-block;
    padding: 0.7rem 1.2rem;
    background-color: rgba(136, 39, 30);
    color: white;
    border-radius: 4px;
    text-decoration: none;
}

footer {
    margin-top: 2rem;
    font-size: 0.875rem;
    color: #555;
}

@media (max-width: 400px) {
    main.card img {
        width: 90%;
        margin: 0 auto;
    }
}